# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# Log generated when debugging
flutter-installer.log

# Pessao
**/.DS_Store

**/*.exe
